body {
  margin: 0;
  padding: 0;
  background-color: mintcream;
  font-family: 'Signika', sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

#gameboard {
  margin: auto;
  background-color: #000;
  border-radius: 4px;
  padding: 3px;
}

#gameboard tr {
  height: 125px;
  padding: 5px;
}

#gameboard td{
  width: 125px;
  border-radius: 4px;
  text-align: center;
  font-size: 4em;
  color: #000;
}
