body {
  margin: 0;
  padding: 0;
  background-color: mintcream;
  font-family: 'Signika', sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

#gameboard {
  margin: auto;
  background-color: #000;
  border-radius: 4px;
  padding: 3px;
}

#gameboard.gameover {
  opacity: .5;
  animation: opacity .8s ease-out;
  -webkit-animation: opacity .8s ease-out;
}

#gameover-modal {
  z-index: 10;
  width: 200px;
  height: 150px;
  margin: auto;
  text-align: center;
}


#gameboard tr {
  height: 125px;
  padding: 5px;
}

#gameboard td{
  width: 125px;
  border-radius: 4px;
  text-align: center;
  font-size: 4em;
  color: #000;
}

.new-tile {
  animation: popout .2s ease-out;
  -webkit-animation: popout .2s ease-out;
}

@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1)}
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1)}
    to{-webkit-transform:scale(1)}
}

.double {
  animation: double .3s ease-out;
  -webkit-animation: double .3s ease-out;
}

@keyframes double {
    from{transform:scale(0)}
    80%{transform:scale(1.2)}
    to{transform:scale(1)}
}
@-webkit-keyframes double {
    from{-webkit-transform:scale(0)}
    80%{-webkit-transform:scale(1)}
    to{-webkit-transform:scale(1)}
}
